# Секреты и окружение
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/

# Виртуальное окружение
venv/
.venv/
env/

# База данных
*.db
*.sqlite
*.sqlite3

# Логи
logs/
*.log

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db
